.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

staff/*
grid-yard/*

uploads/logs/*

application/components/ENV_storage.php